.cards{
    display:flex;

}
h1{
    text-align: center;
}
.card2{
    width: 30%;
    margin: 10px;
}
.titulo{
    font-size: 20px;
    font-family: 'Trebuchet MS';
    color:rgb(64,0,64);
    -webkit-text-stroke: 1px rgb(64,0,64);
    -webkit-text-fill-color: white;
}
p{
    color:#696969;
}



