@font-face {
  font-family: "Pokemon GB";
  src: url(./components/Pokemon\ GB.ttf);
}
.container2 {
  position: relative;
  width: 100%;
}

.middle {
  transition: .5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  width: 100%;
  height: 400px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;

}
.middle:hover {
  opacity: 0.9;
}

.text {
  font-size: 35px;
  font-family: 'Pokemon GB';
  color: white;
  text-shadow: 2px 2px 9px black;
  
}


.background-cover {
  background: url(components/images/8bits.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 450px;
}
.boxshadow{  
  box-shadow: 0 0 12px rgba(25,25,112,0.5) !important;
  border-radius: 12px; 
  background-color: white;
}

.marginright{
margin-right: 20px;
}
.text h5{
  font-size: 15px;
}


  


